$color-background-1: #1a1d1e;
$color-background-2: #32174d;

$color-text: #fffff0;

$color-btn-green: #008000;
$color-btn-red: #ff4500;
$color-btn-yellow: #fff700;
$color-btn-blue: #00bfff;
$color-btn-grey: #808080;

$font-path: "../../css/fonts/";
