.footer {
  background-color: $color-background-2;
  color: $color-text;
  height: 5vh;
  width:100%;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom:0;

  &__text-box {
    font-size: 1rem;
    padding: 0rem;
    background-color: inherit;
    font-family: "Squared-7";
  }
}
